.attribution{
    font-size: 12px;
    font-weight: 400;
    color: #686868;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.att-a{
    text-decoration: none;
    color: #4BB1DA;
}